.right {
    justify-content: flex-end;
}

.right,
.left {
    gap: .5rem;
    display: flex;
}

.logo {
    cursor: pointer;
}

.header {
    padding: 0 var(--usual-padding);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: var(--dark-color-light);
    height: initial;
}
