.burger_list {
    overflow-y: auto;
    max-height: 30rem;
}

.price {
    align-items: center;
}

.footer {
    justify-content: flex-end;
    display: flex;
}

.list_item {
    display: flex;
    align-items: center;
}

.drag_icon {
    cursor: pointer;
}
