.main {
    height: calc(var(--main-height) - (var(--offset-base-size) * 25) - var(--offset-base-size) * 25);
    width: initial;
}

.main_container {
    height: inherit;
}

.main_container_list {
    min-height: inherit;
}

.main_container_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50%;
}

.price {
    align-items: center;
}

.footer {
    justify-content: flex-end;
    display: flex;
}

.btn_off {
    display: none;
}
