.container {
    height: auto;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 20px;
}

.orders_list {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.stats_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

.stats_column {
    display: flex;
    flex-direction: column;
}

.numbers_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    overflow: auto;
    max-height: 250px;
}

.numbers_column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.number_done {
    color: #00CCCC;
}

.stats_total {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

