header {
    height: var(--header-height);
}

main {
    padding: 0 var(--usual-padding);
    justify-items: center;
    align-content: center;
    height: calc(100vh - var(--header-height));
    gap: calc(var(--offset-base-size) * 10);
}
