header {
    height: var(--header-height);
}

main {
    padding: 0 var(--usual-padding);
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--offset-base-size) * 10);
}
