.block {
    max-width: calc(var(--main-width) / 4 - (var(--offset-base-size) * 16));
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}

.price {
    align-items: center;
    gap: .5rem;
}
