.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0 var(--usual-padding);
}

.navLink {
    display: block;
    text-decoration: none;
}
