:root {
  --dark-color-light: #1C1C21;

  --header-height: 15rem;
  --usual-padding: 0 12rem;
  --hover-scale: .98;
  --max-width: -webkit-fill-available;
}

#root {
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.tab {
  width: var(--max-width);
  min-width: 0 !important;
}

.currency-icon-medium {
  width: 32px;
  height: 32px;
}
