.navbar {
    display: flex;
}

.ingredients {
    gap: calc(var(--offset-base-size) * 6);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ingredients_list {
    overflow-y: auto;
    max-height: 75%;
    padding-right: calc(var(--offset-base-size) * 2);

    scrollbar-width: thin;
    scrollbar-color: var(--custom-scrollbar-color);
}
