.list {
    height: inherit;
}

.element {
    max-width: var(--max-width);
}

.list_scroll_container {
    display: flex;
    gap: calc(var(--offset-base-size) * 2);
    flex-direction: column;
    overflow-y: auto;
    max-height: 40vh;
    scrollbar-width: thin;
    scrollbar-color: var(--custom-scrollbar-color);
}
