.list {
    height: calc(100% - (1.5 * var(--offset-base-size) * 24));
}

.element {
    max-width: var(--max-width);
}

.list_scroll_container {
    display: flex;
    gap: calc(var(--offset-base-size) * 2);
    flex-direction: column;
    overflow-y: auto;
    max-height: 45vh;
    scrollbar-width: thin;
    scrollbar-color: var(--custom-scrollbar-color);
}
